<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Jonas Luebbers</title>
    <link
      rel="icon"
      href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🌑</text></svg>"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Space+Mono:400,700"
    />
    <link rel="stylesheet" href="/assets/styles/space-grotesk.css" />
    <link rel="stylesheet" href="/assets/styles/index.css" />
    <script src="/assets/scripts/eye.js" defer></script>
  </head>
  <body>
    <p>
      I'm a creative developer, fascinated by the beauty in computer interfaces,
      simulations, architecture, generative art, and music. I have a background
      in computer science and fine art, and I love solving design problems with
      code. I've worked for
      <a href="https://frame.io">Frame.io</a> and
      <a href="https://squarespace.com">Squarespace</a>, among others. You can
      find me on <a href="https://are.na/jonas-luebbers">Are.na</a>,
      <a href="https://github.com/nonphoto">Github</a>, and
      <a href="https://twitter.com/nonphotobloom">Twitter</a>.
      <svg
        id="eye"
        version="1.1"
        xmlns="http://www.w3.org/2000/svg"
        viewbox="0 20 100 60"
      >
        <defs>
          <g id="lids-def">
            <path id="lids-def-path" />
          </g>
          <clippath id="lids-clip" fill="white">
            <use xlink:href="#lids-def-path"></use>
          </clippath>
        </defs>
        <g clip-path="url(#lids-clip)">
          <g id="pupil">
            <circle cx="50" cy="50" r="16"></circle>
            <circle cx="50" cy="50" r="8"></circle>
          </g>
        </g>
        <animate
          id="animation"
          xlink:href="#lids-def-path"
          attributeName="d"
          attributeType="XML"
          dur="100ms"
          begin="indefinite"
        />
        <use xlink:href="#lids-def"></use>
      </svg>
    </p>
    <ul>
      {%- for item in items -%}
      <li>
        {% if item.isVideo %}<video
          src="{{ item.src }}"
          muted
          loop
          autoplay
        ></video
        >{% else %} <img src="{{ item.src }}" />{% endif %}
      </li>
      {%- endfor -%}
    </ul>
  </body>
</html>
