
/*A
Blue: 2640FF
Green: 00EAFF
Yellow: FFFD94
Red: FF5C98
Grey: AFB9C4

F2F2EA
ECECF0
171117
*/

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
}

html {
    font-size: 18px;
    background: #fff;
}

body {
    color: black;
    font-family: "nimbus-sans";
    line-height: 1.4;
}

article {
    position: relative;
    margin: 0 3rem;
    /* max-width: 35rem; */
}

.home-button {
    display: block;
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    width: 6rem;
    margin: 4rem auto;
    border-style: solid;
    border-width: 2px;
    border-color: #000;
}

.return-button {
    display: block;
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    width: 6rem;
    margin: 4rem auto;
}

.about {
    margin: 4rem auto;
    width: 20rem;
}

.copyright{
    color: #ccc;
    text-align: center;
    font-size: 0.8rem;
    width: 6rem;
    margin: 2rem auto;
}

h1 {
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 4rem;
}

p {
    margin: 1rem 0;
    max-width: 30rem;
    /* -webkit-hyphens: auto; */
    /* -moz-hyphens: auto; */
    /* -ms-hyphens: auto; */
    /* hyphens: auto;     */
}

a {
    color: inherit;
    text-decoration: none;
}

p a {
    font-style: italic;
}

a:hover {
	background: #c2fac4;
    }

    hr {
	height: 2px;
	background-color: #000;
	border-style: none;
	margin: 0.5rem 0;
    }

    ol {
	padding-left: 2rem;
	margin: 1rem 0;
    }

    ul {
	list-style-type: none;
    }

    img {
	max-width: 100%;
	max-height: 80vh;
	margin: 2rem 0;
    }

    .thumbnail {
	max-width: 10rem;
    }

    [class*='col-'] {
	float: left;
    }

    .col-1 {
	width: 10%;
    }
    .col-2 {
	width: 20%;
    }
    .col-3 {
	width: 30%;
    }
    .col-4 {
	width: 40%;
    }
    .col-5 {
	width: 50%;
    }
    .col-6 {
	width: 60%;
    }
    .col-7 {
	width: 70%;
    }
    .col-8 {
	width: 80%;
    }
    .col-9 {
	width: 90%;
    }
    .col-0 {
	width: 100%;
    }
    .grid:after {
	content: "";
	display: table;
	clear: both;
    }

    @media (min-width: 35em) {
	article {
            width: 80%;
            margin: 0 10%
	}
    }

    @media (min-width: 50em) {
	article {
            width: 60%;
            margin: 0 20%
	}
    }