/*
Colors I might use at some point

Blue: 2640FF
Green: 00EAFF
Yellow: FFFD94
Red: FF5C98
Grey: AFB9C4

F2F2EA
ECECF0
171117
*/

@keyframes fadein {
    from {
        opacity: 0;
        transform: translateY(1rem);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 18px;
    background: #fff;
}

body {
    color: black;
    font-family: "nimbus-sans", sans-serif;
    line-height: 1.4;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-font-smoothing: subpixel-antialiased;
    font-smoothing: subpixel-antialiased;
}

#menu {
    position: fixed;
    width: 100%;
    height: 5rem;
    top: 0;
    left: 0;
    background: white;
}

#title {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 1rem;
    line-height: 1.1;
    letter-spacing: 0.2ch;
    text-transform: uppercase;
    margin: 1rem 3rem;
}

#menu-button {
    position: absolute;
    top: 0;
    right: 0;
    width: 3rem;
    height: 3rem;
    padding: 1rem;
    margin: 1rem 3rem;
    transition: transform 0.2s
}

#menu-button:hover {
    transform: rotate(10deg);
}

#project-list {
    visibility: hidden;
    margin-top: 5rem;
    padding: 3rem;
}

#planet-svg {
    display: none;
    visibility: hidden;
}

#content {
    margin-top: 5rem;
    padding: 3rem;
}

@media (min-width: 45rem) {
    #menu {
        width: 18rem;
        height: 100vh;
    }

    #menu.open {

    }

    #title, #menu-button {
        margin: 3rem;
    }

    #project-list {
        position: fixed;
        bottom: 0;
        left: 0;
    }

    #content {
        margin: 0;
        margin-left: 18rem;
        padding-left: 0rem;
    }

    #planet-div {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 18rem;
        right: 0;
    }

    #planet-svg {
        display: block;
        width: 100%;
        height: 100%;
    }
}

.scroll-button {
    display: block;
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    line-height: 2rem;
    width: 2rem;
    height: 2rem;
    margin: 6rem auto 2rem auto;
}

.copyright {
    color: #ccc;
    font-size: 0.8rem;
}

/*
.red {
    position: absolute;
    mix-blend-mode: multiply;
    color: #f00;
    transition: transform 0.2s, background 0.2s;
}

.cyan {
    pointer-events: none;
    position: absolute;
    color: #0ff;
    mix-blend-mode: multiply;
    transition: transform 0.2s, background 0.2s;
}

.red:hover {
    transform: translateY(-0.2rem);
}

.cyan:hover {
}
*/

h1 {
    font-size: 1rem;
    font-weight: normal;
}

p {
    margin-bottom: 1rem;
    max-width: 30rem;
}

a {
    color: inherit;
    text-decoration: none;
}

p a {
    font-style: italic;
}

a:hover {
    color: white;
    background: black;
}

ol {
    padding-left: 2rem;
    margin: 1rem 0;
}

ul {
    list-style-type: none;
}

img {
    max-width: 100%;
    max-height: 80vh;
    margin: 2rem 0;
}

.thumbnail {
    max-width: 10rem;
}

svg {
    display: block;
    fill: white;
    stroke: black;
    stroke-width: 2px;
}

circle {
    fill: white;
    transition: fill 0.2s;
}

circle:hover {
    fill: black;
}

[class*='col-'] {
    float: left;
}

.col-1 {
    width: 10%;
}
.col-2 {
    width: 20%;
}
.col-3 {
    width: 30%;
}
.col-4 {
    width: 40%;
}
.col-5 {
    width: 50%;
}
.col-6 {
    width: 60%;
}
.col-7 {
    width: 70%;
}
.col-8 {
    width: 80%;
}
.col-9 {
    width: 90%;
}
.col-0 {
    width: 100%;
}
.grid:after {
    content: "";
    display: table;
    clear: both;
}