
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	background: #2261fd;
	background: black;
	font-size: 18px;
}

body {
	color: white;
	font-size: 24px;
	font-family: 'Space Mono' monospace;
	line-height: 1.4;
	letter-spacing: 0.1ch;
	text-transform: uppercase;
}

article {
	font-size: 18px;
	font-family: 'nimbus-sans' sans-serif;
	line-height: 1.4;
	text-transform: none;
	max-width: 30rem;
	margin-bottom: 1rem;
	letter-spacing: 0;
}

li {
	margin-bottom: 1rem;
}

ul {
	list-style-type: none;
}

#menu-button {
	position: fixed;
	top: 4rem;
	left: 0;
	width: 5rem;
	height: 5rem;
	padding: 2rem;
}

.project {
	background: white;
	color: black;
	padding: 5rem;
	padding-right: 2rem;
	min-height: 100vh;
}

#site-title {
	margin-bottom: 5rem;
}

header {
	margin-bottom: 5rem;
}

article {

}

@media (min-width: 45rem) {
	#site-title {
		position: fixed;
	}
	header {
	}

	article {
		padding-left: 30%;
	}
}

nav {
	background: none;
	width: 100vw;
	height: 100vh;
	padding: 5rem;
}

ul {
	list-style-type: none;
}

ol {

}

#tag-list {
	display: none;
}

#post-list a {
	width: 100%;
	float: left;
}

a {
	font-weight: normal;
	color: inherit;
	text-decoration: none;
}

img {
	max-width: 100%;
	max-height: 80vh;
	margin: 2rem 0;
}

.grid-small {
	width: 100%;
	margin: 3rem 0;
}

.grid-small img {
	float: left;
	width: 25%;
	padding: 1%;
	margin: 0;
}

.grid-small:after {
	content: "";
	display: table;
	clear: both;
}

#planet-canvas {
	z-index: -1;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
}
