html {
  font-family: "Space Grotesk", -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: calc(1rem + 0.5vw);
  font-feature-settings: "liga", "zero";
  line-height: 1.4;
  --foreground: black;
  --foreground-alpha: #00000088;
  --foreground-very-alpha: #00000022;
  --background: white;

  color: var(--foreground);
  background: var(--background);
}

@media (prefers-color-scheme: dark) {
  html {
    --foreground: white;
    --foreground-alpha: #ffffff88;
    --foreground-very-alpha: #ffffff22;
    --background: black;
  }
}

body {
  box-sizing: border-box;
  padding: 2rem 1rem;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

p {
  max-width: 30rem;
  margin-bottom: 3rem;
}

ul {
  max-width: 40rem;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

li {
  margin: 0;
  display: flex;
  justify-content: center;
}

li + li {
  margin-top: 3rem;
}

a {
  color: inherit;
  text-decoration: none;
  padding-left: 0.1em;
  padding-right: 0.1em;
  border-bottom: solid var(--foreground-alpha) 0.1em;
}

a:hover {
  background-color: var(--foreground);
  color: var(--background);
  text-decoration: none;
}

svg {
  vertical-align: middle;
  fill: transparent;
  stroke: var(--foreground);
  stroke-width: 3.5px;
  stroke-linecap: round;
  stroke-linejoin: round;
  height: 1.5rem;
}

img,
video {
  max-width: 100%;
  max-height: 80vh;
  margin: 0 auto;
  border: solid 1px var(--foreground-very-alpha);
  overflow: hidden;
}
