<!DOCTYPE html>
<html lang="en-us">
<head>
	<script src="https://use.typekit.net/fid8byd.js"></script>
	<script>try{Typekit.load({ async: true });}catch(e){}</script>

	<meta charset="UTF-8"/>
	<meta name="viewport" content="initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">

	<title>Jonas Kent Luebbers - {{ page.title }}</title>

	<link href="https://fonts.googleapis.com/css?family=Space+Mono" rel="stylesheet">
	<link rel="stylesheet" href="/style.css"/>
	<script src="/script.js"></script>

</head>

<body>

	{% capture assets %}{{ site.url }}/assets/{{ page.slug }}{% endcapture %}
	{{ content }}

	<canvas id="planet-canvas"></canvas>

	<nav id="menu">
		<!-- <svg id="planet-svg" viewBox="0, 0, 100, 100" preserveAspectRatio="xMinYMid meet"></svg> -->

		<div id="tag-list">
			<button type="button" onclick="toggleButtonForTag(this, 'code')">Code</button>
			<button type="button" onclick="toggleButtonForTag(this, 'art')">Art</button>
			<button type="button" onclick="toggleButtonForTag(this, 'design')">Design</button>
			<button type="button" onclick="toggleButtonForTag(this, 'other')">Other</button>
		</div>

		<div id="post-list">
			{% for project in site.projects %}
			<a href="{{ project.url }}" class="{% for tag in project.tags %}tag-{{ tag }} {% endfor %}">{{ project.title }}</a>
			{% endfor %}
		</div>
	</nav>
</body>
</html>
