<!DOCTYPE html>
<html lang="en-us">
<head>
	<script src="https://use.typekit.net/fid8byd.js"></script>
	<script>try{Typekit.load({ async: true });}catch(e){}</script>

	<meta charset="UTF-8"/>
	<meta name="viewport" content="initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">

	<title>Jonas Kent Luebbers - {{ page.title }}</title>

	<link href="https://fonts.googleapis.com/css?family=Space+Mono" rel="stylesheet">
	<link rel="stylesheet" href="/style.css"/>
	<script src="/script.js"></script>

</head>

<body>

	{{ content }}

	<canvas id="planet-canvas"></canvas>

	<div id="menu">

		<nav>
			<img class="menu-button" src="/plus-white.svg" onclick="scrollToMenu();">

			<div class="site-title">
				Jonas<br>
				Kent<br>
				Luebbers<br>
			</div>
		</nav>

		<div id="project-list">
			{% for project in site.projects %}
			<a href="{{ project.url }}" class="{% for tag in project.tags %}tag-{{ tag }} {% endfor %}">
				{{ project.title }}
				<div class="project-info">{% for tag in project.tags %}{{ tag }} {% endfor %}{{ project.year }}</div>
			</a>
			{% endfor %}
		</div>

		<div id="contact-list">
			<a>+1 513 833 7419</a>
			<a href="mailto:contact@jonasluebbers.com" class="planet-link">contact@jonasluebbers.com</a></li>
			<a href="https://github.com/nonphoto" class="planet-link">github.com/nonphoto</a></li>
			<a href="https://www.linkedin.com/in/jonas-luebbers-4145a0ba" class="planet-link">linkedin.com/in/jonas-luebbers-4145a0ba</a></li>
		</div>
	</div>
</body>
</html>
