<!DOCTYPE html>
<html lang="en-us">
  <head>
    <script src="https://use.typekit.net/fid8byd.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>{% if page.title != 'About' %} {{ page.title }} - {% endif %} Jonas Luebbers</title>
    <link rel="stylesheet" href="/style.css"/>
    <script src="/script.js"></script>
  </head>
  <body>
    <svg xmlns="http://www.w3.org/2000/svg" display="none" version="1.1">
    </svg>
    <div id="content">
      <div class="title">
        Jonas <br> Kent <br> Luebbers
      </div>
      {{ content }}
    </div>
    <div id="menu">
      <div class="title">
        Jonas <br> Kent <br> Luebbers
      </div>
      <ul>
        <li><a href="mailto:contact@jonasluebbers.com" class="planet-link">Contact</a></li>
        <li><a href="https://github.com/nonphoto" class="planet-link">Github</a></li>
        <li><a href="https://www.linkedin.com/in/jonas-luebbers-4145a0ba" class="planet-link">LinkedIn</a></li>
      </ul>
      <ul>
        {% for p in site.pages %}
        <li>
          <a href="{{ p.url }}" class="planet-link {% if p.title == 'About' %} about-link {% else %} project-link {% endif %} {% if p.title == page.title %} indicator {% endif %}">
            {{ p.title }}
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
    <!-- <div class="copyright"> &copy; 2015 <br> Jonas Luebbers </div> -->
    <svg id="planet-svg" viewBox="0, 0, 100, 100" preserveAspectRatio="xMinYMid meet">
      <defs>
        <filter id="glitch-filter" x="-50%" width="200%"color-interpolation-filters="sRGB">
          <feColorMatrix type="matrix"
                         in="SourceGraphic"
                         values="1 0 0 0 0
                                 0 0 0 0 0
                                 0 0 0 0 0
                                 0 0 0 1 0" result="A1"/>
          <feColorMatrix type="matrix"
                         in="SourceGraphic"
                         values="0 0 0 0 0
                                 0 1 0 0 0
                                 0 0 1 0 0
                                 0 0 0 1 0" result="B1"/>
          <feOffset id="filter-left" dx="0" dy="0" in="A1" result="A2"/>
          <feOffset id="filter-right" dx="0" dy="0" in="B1" result="B2"/>
          <feBlend in="A2" in2="B2" result="C" mode="multiply"/>
        </filter>
        <animate    id            = "glitch-left"
                    attributeName = "dx"
                    begin         = "0s"
                    dur           = "0.1s"
                    values        = "0;-0.3;-0.2;-0.5;0"
                    keyTimes      = "0;0.25;0.5;0.75;1"
                    repeatCount   = "indefinite"
                    xlink:href    = "#filter-left"/>
        <animate    id            = "glitch-right"
                    attributeName = "dx"
                    begin         = "0s"
                    dur           = "0.1s"
                    values        = "0;0.3;0.2;0.5;0"
                    keyTimes      = "0;0.25;0.5;0.75;1"
                    repeatCount   = "indefinite"
                    xlink:href    = "#filter-right"/>
      </defs>
    </svg>
    <img id="toggle-button" src="/plus.svg" onclick="toggleMenu()">
  </body>
</html>
