@font-face {
    font-family: 'Space Grotesk';
    src: url('../fonts/space-grotesk-regular.woff2') format('woff2'),
         url('../fonts/space-grotesk-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
